CAMERA_1_NAME=Front Door (Cam 1)
CAMERA_1_URL=http://10.107.109.21:4747/video

CAMERA_2_NAME=Backyard (Cam 2)
CAMERA_2_URL=http://192.168.30.138:4747/video

STREAM_MAX_WIDTH=640
STREAM_TARGET_FPS=4
UI_REFRESH_MS=400
STREAM_JPEG_QUALITY=70
APP_HOST=127.0.0.1
APP_PORT=8501
ALLOWED_ORIGINS=*
